/target/classes/com/jd/seckill/BaseUtil.class
/jd-seckill.iml
/target/classes/com/jd/seckill/HttpUrlConnectionUtil.class
/target/classes/com/jd/seckill/Login.class
/target/classes/com/jd/seckill/Login$1.class
/target/classes/com/jd/seckill/Start.class
/QCode.png
/target/classes/com/jd/seckill/RushToPurchase.class
